{% extends 'base.html' %} 
{% load static %}

{% block content %}
{% include 'includes/messages.html' %}


<!DOCTYPE html>
<html>
<head>
    <title>Contact Us</title>
</head>
<body>
<section class="my-form container p-5 my-5 rounded border border-warning">   
    <h1 CLASS='text-center'>Contact Us</h1>
    <br><br>
    <form class="needs-validation" method="post" action="" enctype="multipart/form-data" novalidate>
        {% csrf_token %}
        <div class="form-row">
        <div class="col-md-6 mb-3">
            <label for="validationTooltip01">Name</label>
            <input type="text" class="form-control" id="validationTooltip01" placeholder="Enter Name..."  required>
            <div class="valid-tooltip">
            Looks good!
            </div>
            <label for="validationTooltip02">Email</label>
            <input type="text" class="form-control" id="validationTooltip02" placeholder="Enter Email..."  required>
            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
            <div class="valid-tooltip">
            Looks good!
            </div>
        </div>

        <div class="col-md-6 mb-3">
            <label for="validationTooltip03">Subject</label>
            <select class="custom-select" id="validationTooltip03" required>
                <option selected disabled value="">Choose...</option>
                <option>...</option>
            </select>        
            <div class="invalid-tooltip">
                Please select a valid state.
            </div>
            <label for="validationTooltip04">Message</label>
            <textarea type="text" class="form-control" id="validationTooltip04"  rows="7" placeholder="Enter Message Text..." required></textarea>
            <div class="valid-tooltip">
            Looks good!
            </div>

        </div>
        </div>
        <button class="btn btn-primary" type="submit">Send</button>
    </form>
</body>
</section>
</html>
        

{% endblock %}

