{% extends 'base.html' %} 
{% load static %}
{% load hitcount_tags %}

{% block content %}
{% include 'includes/messages.html' %}



<div class="container-fluid">


  
  <!--jumbotron 1-->
  {% comment %} <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4">Fluid jumbotron</h1>
      <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>
    </div>
  </div> {% endcomment %}

     
      <!--carousel-->
      <section>
        <div id="carouselMyCoffee" class="carousel slide carousel-fade" data-ride="carousel">
          <div class="carousel-inner">

            <div class="carousel-item active" data-interval="1500">
                <img src="{% static 'img/carousel_images/back1.jpg' %}" class="d-block w-100" alt="...">
            </div>

            <div class="carousel-item" data-interval="1500">
              <img src="{% static 'img/carousel_images/back2.jpg' %}" class="d-block w-100" alt="...">
            </div>

            <div class="carousel-item" data-interval="1500">
              <img src="{% static 'img/carousel_images/back3.jpg' %}" class="d-block w-100" alt="...">
            </div>

          </div>
        </div>
      </section>

<!-- ------------------------------------------------------------------------- -->

      <!--jumbotron 2-->
      <section>
        <div class="jumbotron rounded-bottom">
          <h1 class="display-4">Coffee is my world</h1>
          <p class="lead">Many good health reasons to drink coffee.</p>
          <hr class="my-4">
          <p>Caffeine stimulates your nervous system, signaling fat cells to break down body fat.</p>
          <p>Coffee appears to be protective against two types of cancer: liver and colorectal cancer.</p>
          <a class="btn btn-warning btn-lg" href="#" role="button">Learn more</a>
        </div>
      </section>
      <br>
<!-- --------------------------------------------- -->
<row>
  <h2 class="text-center">Latest products</h2>
<section class='float-right'>
  <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
    <div class="btn-group" role="group">
      <button id="btnGroupDrop" type="button" class="btn btn-light dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Sort By
      </button>
      <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
        <a class="dropdown-item"   href="http://127.0.0.1:8000/products/products/{% for product in products %}?SORTATZ={{product.id}}{% endfor %}"> Alphabetically (A to Z)</a>
        <a class="dropdown-item"   href="http://127.0.0.1:8000/products/products/{% for product in products %}?SORTRATING={{product.id}}{% endfor %}">Rating (Hight to Low)</a>
        <a class="dropdown-item"   href="http://127.0.0.1:8000/products/products/{% for product in products %}?SORTPRICELTH={{product.id}}{% endfor %}">Price (Low to Hight)</a>
        <a class="dropdown-item"   href="http://127.0.0.1:8000/products/products/{% for product in products %}?SORTPRICEHTL={{product.id}}{% endfor %}">Price (High to Low)</a>
        <a class="dropdown-item"   href="http://127.0.0.1:8000/products/products/{% for product in products %}?SORTNEWARRIVAL={{product.id}}{% endfor %}">New Arrival</a>
      </div>
    </div>
    
    <a href="{% url 'products:products' %}" class="btn btn-light">All Products</a>
   
    
  </div>
</section>
</row>

      <!--latest product-->
      <section>
      
        
        <div class="container-fluid">
          <div class="row p-5" style="padding-left: 17% !important;">


            {% for product in products|slice:':6' %}
            <div>
              <div class="card m-2" style="width: 18rem;">
                  <div>
                      <a href="{% url 'products:product' pro_id=product.id %}" class="btn btn-outline">
                        <img src="{{ product.photo.url }}" class="card-img-top" alt={{ product.name}}>
                      </a>
                  </div>
                <div class="card-body">
                  <h5 class="card-title">{{ product.name }}</h5>
                  <p class="card-text">Current Price: <span id="price" class="bg-dark text-light rounded-circle p-2">{{product.price}}</span></p>


                  <!-- product_average_rating_stars -->
                  <span>
                    {% include 'includes/product_average_rating_stars.html' %}
                  </span>
                  <!-- product_average_rating_stars -->



                  <div class="d-inline-flex">
                    <span class='p-1'style="font-size:15px; color:#a2947e;"><i class="fa-regular fa-eye fa-lg"></i> {% get_hit_count for product %}</span>
                    &nbsp;
                    <span class='p-1'><i class="fa-solid fa-heart fa-lg red-color"></i>{{product.likes}}</span> 
                  </div>

                  <br>
                  <br>

                  <p class="card-text">
                    {% if product.description|length >= 12 %}
                    {% comment %} {{ product.description|slice:":50" }}.. more {% endcomment %}
                    {{ product.description|truncatewords:12 }}<a href="{% url 'products:product' pro_id=product.id %}" ><i class="fa-solid fa-angles-right red-color"></i></a>
                    
                    {% else %}
                    {{ product.description }}
                    {% endif %}
                  </p>
                  <hr>

                  <!-- all  authenticatedd users  --> 
                  {% if request.user.is_authenticated %}
                      <div>
                          <!--  add to cart  form for authenticated user -->
                          <div>
                              <form method='GET' action="{% url 'ecommerce:add-to-cart' pro_id=product.id %}" novalidate>
                                  {% csrf_token %}
                                  {{form}}
                                    <button type="submit"  name='indexbutton' class="btn btn-sm btn-success"><i class="fa-solid fa-xl fa-cart-plus"></i></button> 
                              </form>
                              <span style="font-size:15px; color:#a2947e;"> 
                                  <i class="fas fa-shopping-cart"></i>
                                  ({% for p in orderproducts %}
                                      {% if product.id == p.product.id %}
                                        {{ p.quantity|default_if_none:'0' }}
                                      {% endif %}
                                  {% endfor %})
                              </span>
                          </div>
                          <div> 
                             <!--  edit & delete for admin only --> 
                             <!-- admin only --> 
                              {% if request.user.is_authenticated and request.user.is_superuser %}
                              <div class="btn-group" role="group">
                                <a href="{% url 'products:update-product' pro_id=product.id %}" class="btn btn-outline-light"><i class="fa-regular fa-pen-to-square"></i></a>
                                <a href="{% url 'products:delete-product' pro_id=product.id %}" class="btn btn-outline-light"><i class="fa-regular fa-trash-can"></i></a>
                              </div>
                            {% endif %}
                            <!--  end admin only -->
                          </div>

                      </div>
                      {% else %}
                      <!-- end  div of only authenticated   --> 


                      <!-- start div of  only anonymous see this div --> 
                     
                      <div>
                        <!-- add-to-cart form  for anonymous --> 
                        <div class="card-text">
                             
                            <form method='GET' action="{% url 'ecommerce:add-to-cart' product.id %}"  class='form-group' novalidate>
                              {% csrf_token %}
                              {{form}}
                              <div class='btn-group'>
                                <button type="submit"  class="btn btn-sm btn-success" data-toggle="tooltip" data-placement="top" title="Need Login to add this product to the cart"><i class="fa-solid fa-xl fa-cart-plus"></i></button> 
                              </div>
                            </form>
              
                          </div>  
                        
                      </div>
                    
                      <!-- end div of  only anonymous  --> 
                    {% endif %}
                </div>
              </div>
              </div>
              {% empty %}
              <div class="card-body">
                <h3 class="card-text">No product.</h3>
            </div>
            {% endfor %}   
          </div>
        </div>
      </section>

<!-- ------------------------------------------------------------------------- -->
<a href="{% url 'products:products'  %}" class="btn btn-block btn-outline-light mt-2 mb-4 align-center"><i class="fa fa-align-center" aria-hidden="true"></i>  All Products</a>
<!-- ------------------------------------------------------------------------- -->


     <!--jumbotron 2-->
      <section>
        <div class="jumbotron">
          <p class="h1">
            <svg class="bi bi-info-circle-fill" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" d="M8 16A8 8 0 108 0a8 8 0 000 16zm.93-9.412l-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM8 5.5a1 1 0 100-2 1 1 0 000 2z" clip-rule="evenodd"/>
            </svg>
            An additional note
          </p>
          <p class="lead">
            <svg class="bi bi-bookmark-plus" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" d="M4.5 2a.5.5 0 00-.5.5v11.066l4-2.667 4 2.667V8.5a.5.5 0 011 0v6.934l-5-3.333-5 3.333V2.5A1.5 1.5 0 014.5 1h4a.5.5 0 010 1h-4zm9-1a.5.5 0 01.5.5v2a.5.5 0 01-.5.5h-2a.5.5 0 010-1H13V1.5a.5.5 0 01.5-.5z" clip-rule="evenodd"/>
              <path fill-rule="evenodd" d="M13 3.5a.5.5 0 01.5-.5h2a.5.5 0 010 1H14v1.5a.5.5 0 01-1 0v-2z" clip-rule="evenodd"/>
            </svg>
            When people think of coffee, they usually think of its ability to provide an energy boost. However, according to some research, it can also offer some other important health benefits, such as a lower risk of liver cancer, type 2 diabetes, and heart failure.
          </p>
        </div>
      </section>
    <!-- -->

</div>


{% endblock %}