{% extends 'base.html' %}
{% load static %}
{% load hitcount_tags %}

{% block content %}
{% include 'includes/messages.html' %}

{% comment %} <a href="{% url 'products:product' pro_id=product.id %}">View Product</a> {% endcomment %}

<div class="my-form container p-5 my-5 rounded border border-warning">
      
            

<!-- --------------------------------------------- -->
      <!--All products -->
      <section>
        <h1 class="text-center">Products</h1>
        
        <div class="container-fluid">
          <div class="row p-5">

            {% for product in products %}
            <div>
              {% if request.user.is_authenticated and request.user.is_superuser %}
              <div class="card m-2" style="width: 18rem; height: 32rem;">
              {% else %} 
              <div class="card m-2" style="width: 18rem; height: 30rem;">
              {% endif %} 
                <a href="{% url 'products:product' pro_id=product.id %}" class="btn btn-outline">
                  <img src="{{ product.photo.url }}" class="card-img-top" alt={{ product.name}}>
                </a>
                <div class="card-body">
                  <h5 class="card-title">{{ product.name }}</h5>
                  <p class="card-text">
                    {% if product.description|length >= 12 %}
                    {% comment %} {{ product.description|slice:":50" }}.. more {% endcomment %}
                    {{ product.description|truncatewords:12 }}<a href="{% url 'products:product' pro_id=product.id %}" ><i class="fa-solid fa-angles-right red-color"></i></a>
                    
                    {% else %}
                    {{ product.description }}
                    {% endif %}
                  </p>
                  <!-- admin only --> 
                  {% if request.user.is_authenticated and request.user.is_superuser %}
                    <div class="text-center">
                      <a href="{% url 'products:update-product' pro_id=product.id %}" class="btn btn-outline-light mb-2"><i class="fa-regular fa-pen-to-square"></i></a>
                      <a href="{% url 'products:delete-product' pro_id=product.id %}" class="btn btn-outline-light mb-2"><i class="fa-regular fa-trash-can"></i></a>
                    </div>
                  {% endif %}

                  <!-- all users  --> 
                  <div class="text-center">
                    <span><i class="fa-regular fa-eye fa-lg"></i> {% get_hit_count for product %}</span>&nbsp;&nbsp; 
                    <span><i class="fa-solid fa-heart fa-lg red-color"></i>{{product.likes}}</span> &nbsp;&nbsp; 
                    <a href="{% url 'products:product' pro_id=product.id %}" class="btn btn-outline-light mb-2"><i class="fa-solid fa-lg fa-cart-plus"></i></a>
                    <a href="{% url 'products:product' pro_id=product.id %}" class="btn btn-outline-light mb-2"><i class="fa-solid fa-lg fa-folder-plus"></i></a>
                  </div>
                </div>
              </div>
            </div>
            {% empty %}
            <div class="card-body">
                <h3 class="card-text">No product.</h3>
            </div>
            {% endfor %}  
          </div>
        </div>
      </section>

<!-- ------------------------------------------------------------------------- -->
        



    </div>




{% endblock %}