{% extends 'base.html' %}
{% block content %}
{% load crispy_forms_tags %}
{% include 'includes/messages.html' %}


<div class="container-fluid">
    <h3 class="mt-4">{{title|title}}</h3>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item active">{{sub_title|title}}</li>
    </ol>

    <div class='row  justify-content-center'>
    <div class='mb-5 container col-md-6 offset-md-3'>
        
        <form method="POST"  enctype="multipart/form-data"   novalidate>
            {% csrf_token %}
            {{form|crispy}}

            <div class='btn-group'>
                <button type="submit" class="btn btn-info">Update</button>
            </div>
        </form>

    </div>
    </div>

</div>
{% endblock content %}