@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital@1&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Merienda&display=swap'); */

html, body{
  height: 100%;
  width: 100%;
}

a{
  color: rgb(101, 73, 39) ;
}

a:hover{
  color: rgb(27, 19, 10) ;
}

body{
    /*background-color: antiquewhite;*/
    font-family: 'Montserrat', sans-serif;
    padding-top:20px;
}

.img-brand{
    width:40px;
    height:40px;
    transition: 0.5s;
    border-radius: 20px;
}

.img-brand:hover{
    transform: rotate(360deg);
}

.navbar-brand:hover .img-brand{
    box-shadow: 1px 1px 10px #fff,
                -1px -1px 10px #fff;
}

.navbar-brand{
    font-family: 'Gloria Hallelujah', cursive;
    transition: 0.5s;
}

.navbar-brand:hover{
    text-shadow: 1px 1px 10px #fff,
                -1px -1px 10px #fff;
    transform: rotate(-1deg);
}

.navbar-custom {
  transition:0.5s;
  background-color: #3e220ce3; 
}

.navbar-custom:hover:not(footer) {
  background-color: #2c1808e3; 
}

.navbar li{
    transition: 0.5s;
}

.navbar li:hover:not([id=coffee-nav-item]){
    padding-left: 10px;
    padding-right: 10px;
}

#coffee-nav-item:hover{
    margin-left: 10px !important;
    margin-right: 10px !important;
}


#coffee-nav-item{
  background-color:#351e0be3;
  border-radius: 25px;
}

.btn-warning {
  background-color: #e4d4be;
  border-color: #836c4b;
}



@media (min-width: 100px) {
    .animate {
      animation-duration: 0.3s;
      -webkit-animation-duration: 0.3s;
      animation-fill-mode: both;
      -webkit-animation-fill-mode: both;
    }
}
  
@keyframes slideIn {
    0% {
      transform: translateY(1rem);
      opacity: 0;
    }
    100% {
      transform:translateY(0rem);
      opacity: 1;
    }
    0% {
      transform: translateY(1rem);
      opacity: 0;
    }
}
  
@-webkit-keyframes slideIn {
    0% {
      -webkit-transform: transform;
      -webkit-opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0);
      -webkit-opacity: 1;
    }
    0% {
      -webkit-transform: translateY(1rem);
      -webkit-opacity: 0;
    }
}
 


.slideIn {
    -webkit-animation-name: slideIn;
    animation-name: slideIn;
}

textarea:focus, 
select:focus, 
select.custom-select:focus, 
textarea.form-control:focus, 
input.form-control:focus, 
input[type=text]:focus, 
input[type=password]:focus, 
input[type=email]:focus, 
input[type=number]:focus, 
[type=text].form-control:focus, 
[type=password].form-control:focus, 
[type=email].form-control:focus, 
[type=tel].form-control:focus, 
[contenteditable].form-control:focus {
  box-shadow: inset 0 -1px 0 #dddddd00,
             1px 1px 6px #ffc107,
             -1px -1px 6px #ffc107;
}

.carousel{
  margin-top: 45px !important;

}
.carousel-inner img{
  width: 100%;
  height: 100%; 
  
}


.jumbotron{
  background-color: #dbc7aa;
  color: #6e4e31;
  margin: 0;
  
}

.rounded-bottom{
  border-top-left-radius: 0 !important;
  border-top-right-radius: 0 !important;
}

.mycoffee-svg{
  width: 100%;
  padding-left: 50px;
  opacity: 0.8;
  transition: 0.5s;
}

.mycoffee-svg:hover{
  opacity: 1;
  transform: rotate(-60deg);
}

.about-img{
  background-color: #71131E55;
}

.about-img:hover{
  background-color: #71131E77;
}

.my-form{
  background-color: antiquewhite;
}

.my-content{
  background-color: antiquewhite;
}

.my-content h1,
.my-content h2,
.my-content h3{
  color: #71131E;
}

.my-content p{
  transition: 0.5s;
}

.my-content p:before{
  color: #71131E;
  content: '► ';
}

#price{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
}

.red-color{
  color:red !important;
}


.btn-outline-light {
  color: #b27c52;
  /* border-color: #b27c52; */
}

.btn:hover {
  /* color: #332418; */
  /* border-color: #332418; */
  text-decoration: none;
}

.btn:focus {
  color: #fa0303;
  /* border-color: #fa0303; */
  text-decoration: none;
}

.btn.btn-success:focus {
  color: #96e6a1dc;
  /* border-color: #fa0303; */
  text-decoration: none;
}



table td{
  vertical-align: center !important;
}



.myrow {
  display: contents;
}


/* rating stars style  */
.rating-container{
  width: 400px;
  display: flex;
  flex-direction: row-reverse;
  align-items:center; 
  justify-content: left; 
  /* flex-direction: column;  */
}

.rating-container input{
  display: none;
}

.rating-container label{
  font-size: 20px;
  color:#787777;
  padding:10px;
  float:right; 
  transition: all 0.2s ease;
}

.rating-container input:not(:checked) ~ label:hover,
.rating-container input:not(:checked) ~ label:hover ~ label{ 
  color: #fd4;
}

input:checked ~ label{ 
  color: #fd4;
} 

/* end rating stars style  */


/* chechout page*/
.row-checkout {
 
  display: flex;

  margin-right: -15px;
  margin-left: -15px;
  align-content: center;
  flex-direction: column;
  justify-content: center;
  
  align-items: center;
}

/* https://www.w3schools.com/cssref/playdemo.php?filename=playcss_z-index&preval=2 */
.my-image-container{
  position:relative;
  display:inline-block;
  text-align:center;
 
 
}
.my-button{
  position:absolute;
  top:2px;
  right:2px;
  z-index:3;
  /* width:100px;
  height:30px; */
}

