{% extends 'base.html' %}
{% load static %}

{% block content %}
{% include 'includes/messages.html' %}
    
    <div class="my-form container p-5 my-5 rounded border border-warning">
      
            <h2 class="text-center"> Profile {{profile.user.get_user_fullname}}</h2>
            <hr>

            <section>
                
                  <div class="row p-5">

                    <div class="card mb-3 w-100" >
                      <div class="row no-gutters">
                        {% if profile.profile_image %}
                          <div class="col-md-4">
                            <img src="{{ profile.profile_image.url }}" class="card-img img-thumbnail" alt={{profile.user.get_user_fullname}}>
                          </div>
                        {% else %} 
                          <div class="col-md-4">
                            <img src="{% static 'img/default_user.jpg' %}" class="card-img img-thumbnail" alt={{profile.user.get_user_fullname}}>
                          </div> 
                        {% endif %}
                        <div class="col-md-8">
                          <div class="card-body">
                            <h5 class="card-title" ><span class="font-weight-bolder">First Name : </span>{{profile.user.first_name}}</h5>
                            <h5 class="card-title" ><span class="font-weight-bolder">Last Name : </span>{{profile.user.last_name}}</h5>
                            <hr>
                            <p class="card-text"><span class="font-weight-bolder">Bio : </span>{{profile.bio}}</p>
                            <hr>
                            <p class="card-text"><span class="font-weight-bolder">Date of birth : </span>{{profile.date_of_birth}}</p>
                            <hr>                           
                            <p class="card-text"><span class="font-weight-bolder">Gender : </span>{{profile.gender}}</p> 
                            <hr>                           
                            <p class="card-text"><span class="font-weight-bolder">Phone Number : </span>{{profile.phone_number}}</p>                           
                            <hr>                           
                            <p class="card-text"><span class="font-weight-bolder">created at : </span>{{profile.created_at}}</p>
                            <hr>                           
                            <p class="card-text"><span class="font-weight-bolder">Updated at : </span>{{profile.updated_at}}</p>
                            <hr>                           
                            <p class="card-text"><span class="font-weight-bolder">Address : </span>{{profile.address}}</p>
                            <hr>                           
                            <p class="card-text"><span class="font-weight-bolder">City : </span>{{profile.city }}</p>
                            <hr>                           
                            <p class="card-text"><span class="font-weight-bolder">State : </span>{{profile.state }}</p>
                            <hr>                           
                            <p class="card-text"><span class="font-weight-bolder">Country : </span>{{profile.country }}</p>

                            
                          </div>
                          
                        </div>
                        <a type="link" class="btn btn-secondary btn-block" href="{% url 'users:edit-profile' prof_id=profile.id  %}" role="button"><span class="text-center">Edit Profile</span></a>
                      </div>
                    </div>

                  </div>
                
            </section>
        

        

    </div>


{% endblock %}